@font-face {
	font-family: ShareTechMono-Regular;
	src: url(ShareTechMono-Regular.ttf);
}

html {
	font-family: ShareTechMono-Regular, Arial, sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
}

#top {
	text-align: center;
	text-transform: lowercase;
	font-weight: bold;
	margin: 40px 20px;
}

#site_name {
	font-size: 32px;
}

.static {
	color: hotpink;
}

/* PAGES */

.page {
	padding: 20px;
	text-align: center;
}

.page * {
	display: block;
}

.page_name {
	font-size: 32px;
	font-weight: bold;
}
.page_name:hover {
	color: #20416c;
}

/* ERRORS */

.msg {
	font-size: 24px;
	padding: 20vh 0;
	margin: 0 4vw;
	text-align: center;
}

.msg_part {
	margin: 20px 0;
}

/* FOOTER */

footer {
	background-color: #111;
	flex: 1;
	text-align: center;
}

footer a {
	display: contents;
}

footer img {
	height: 50px;
	width: 50px;
	margin: 20px 10px;
	transition-duration: 0.3s;
	transform: rotate(0deg);
}

footer img:hover {
	transform: rotate(360deg);
}
