body {
    background-color: #111111;
    display: inline;
    font-family: "Inconsolata", "Monaco", sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    position: relative;
}

* {
    box-sizing: border-box;
}

#wrapper {
    margin-top: 5vh;
    text-align: center;
    height: 1em;
    transition: .1s ease all;
    z-index: 2;
    position: relative;
}

a.button {
    padding: .5em 1em;
    line-height: 1.5em;
    color: white;
    background: rgb(32,160,255);
    text-decoration: none;
    border-radius: 128px;
    transition: .1s ease all;
    box-shadow: 0px 8px 0px -8px white;
}

a.button:hover {
    box-shadow: 0px 8px 16px -8px rgba(32,160,255,0.5);
    font-size: 1.525em;
}

a.button:active {
    box-shadow: 0px 8px 16px -8px white;
    background: rgb(32,128,240);
    font-size: 1.475em;
    color: hsl(0,0%,95%);
}

a.button input {
    background: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding:none;
}

.bigButton {
    font-size: 1.5em;
    cursor: pointer;
}

#display {
    margin: auto;
    width: 640px;
    max-width: 70vw;
    border: 1px solid hsl(0,0%,95%);
    border-radius: 1em;
    text-align: center;
    font-size: 1.2em;
    padding: 1.7em 0 5px;
    background: white;
    margin-bottom: 2em;
}

.copied {
    background-color: #000;
    color: #FFF;
}
.copied:after {
    content: " copied!!";
}

.kaomoji {
    border-top: 1px solid hsl(0,0%,95%);
    border-radius: 15px;
    cursor: pointer;
    list-style-type: none;
    height: 3em;
    line-height: 3em;
    width: 90%;
    margin: 0 auto;
}
.kaomoji:first-child {
    border-top: 1px solid transparent;
}
.kaomoji:hover {
    background-color: #000;
    color: #FFF;
}

#howMany {
    width: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer {
    text-align: center;
    font-size: 0.8em;
    color: hsl(0,0%,50%);
    margin: 20px;
}

#footer a {
    text-decoration: none;
    color: rgb(32,160,255);
}
#footer a:hover {
    text-decoration: none;
    color: rgb(32,128,240);
}
